/* Body */
@font-face {
    font-family: "OsloSans";
    src: url('assets/fonts/OsloSansOffice-Regular.ttf');
}

body {
    font-family: "OsloSans";
    width: 100vw;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: black;
    scroll-behavior: smooth;
}

/* navbar */
*{transition:all 0.3s ease-in-out;}

.navbar{
    z-index: 1;
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.navbar .logo img{
    float:left;
    height: 15vh;
}

.navbar ul {
    float: right;
    padding-right: 2%;
    list-style: none;
    margin-top: 4.5vh;

}

.navbar ul li{
    display: inline-block; 
    padding:10px; 
    font-family:"OsloSans";
    border: 1%;
    border-style: solid;
    border-color: white;
    color:  white;
}

.navbar ul li:hover{
    border: 2%;
    border-color: aqua;
    color: aqua;
}

.navbar ul li span {
    font-size: 1.5rem;
    vertical-align: bottom;
    color:  white;
}

.navbar ul li:hover span{
    border: 2%;
    border-color: aqua;
    color: aqua;
}

.navbar ul li a{
    height: 15vh;
    text-decoration:none;
    color: white;
}

.navbar ul li:hover a{
    border: 2%;
    border-color: aqua;
    color: aqua;
}

.main .title {
    padding-top: 5vh;
    width: 100%;
    padding-bottom: 5vh;
    position: block;
    text-align: center;
    color: black;
    font-family: "OsloSans";
}

.main .title h1 {
    vertical-align: center;
}

@media (orientation: landscape) {
    .main {
        z-index: 0;
        width: 100%;
        height: 360vh;
        margin-top: 15vh;
        background-image: url("assets/images/laptop.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container1 {
        z-index: 0;
        display: grid;
        width: 100vw;
        height: min-content;
        position: absolute;
        grid-template-columns: 60% 40%;
        grid-template-rows: 20% 80%;
        grid-template-areas: "title1 title1"
                                                "a1 b1";
        font-family: "OsloSans";
        background-color: black;
        overflow: hidden;
        height: 60%;
    }
    .title1 {
        grid-area: title1;
        background-color: black;
        padding-top: 1vh;
        margin-bottom: 1vh;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .textbox1 {
        grid-area: a1;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 60vw;
        padding-left: 2%;
    }

    .textbox1 p {
        padding: 2%;
        margin: 2%;
        vertical-align: center;
    }

    .imagebox1 {
        grid-area: b1;
        width: 40vw;
        color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .imagebox1 img{
        width: 40vw;
    }

    .container2 {
        margin-top: 100vh;
        z-index: 0;
        display: grid;
        width: 100vw;
        height: min-content;
        position: absolute;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 80%;
        grid-template-areas: "title2 title2"
                                                "b2 a2";
        font-family: "OsloSans";
        background-color: black;
        overflow: hidden;
        height: 60%;
    }
    .title2 {
        grid-area: title2;
        background-color: black;
        padding-top: 1vh;
        margin-bottom: 1vh;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .textbox2 {
        grid-area: a2;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 60vw;
        padding-left: 2%;
    }

    .textbox2 p {
        padding: 2%;
        margin: 2%;
        vertical-align: center;
    }

    .imagebox2 {
        grid-area: b2;
        width: 40vw;
        color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .imagebox2 img{
        width: 40vw;
    }

    .container3 {
        margin-top: 200vh;
        z-index: 0;
        display: grid;
        width: 100vw;
        height: min-content;
        position: absolute;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        grid-template-areas: "title3"
                                                "pod";
        font-family: "OsloSans";
        background-color: black;
        overflow: hidden;
        height:60%;
    }

    .container4 {
        margin-top: 300vh;
        z-index: 0;
        display: grid;
        width: 100vw;
        height: min-content;
        position: absolute;
        grid-template-columns: 60% 40%;
        grid-template-rows: 20% 80%;
        grid-template-areas: "title4 title4"
                                                "b4 a4";
        font-family: "OsloSans";
        background-color: black;
        overflow: hidden;
        height: 60%;
    }
    .title4 {
        grid-area: title4;
        background-color: black;
        padding-top: 1vh;
        margin-bottom: 1vh;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .textbox4 {
        grid-area: a4;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 60vw;
        padding-left: 2%;
    }

    .textbox4 p {
        padding: 2%;
        margin: 2%;
        vertical-align: center;
    }

    .imagebox4 {
        grid-area: b4;
        width: 40vw;
        color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .imagebox4 img{
        width: 40vw;
    }
}

@media (orientation: portrait){
    .main {
        z-index: 0;
        width: 100%;
        height: 450vh;
        margin-top: 30vh;
        background-image: url("assets/images/laptop.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container1 {
        z-index: 0;
        display: grid;
        width: 100vw;
        position: absolute;
        grid-template-columns: 100%;
        grid-template-rows: 20% 40% 40;
        grid-template-areas: "title1"
                                                "a1"
                                                "b1";
        font-family: "OsloSans";
        background-color: black;
        overflow: hidden;
    }

    .title1 {
        grid-area: title1;
        background-color: black;
        padding-top: 1vh;
        margin-bottom: 1vh;
        color: white;
        width: 100%;
        text-align: center;
    }

    .textbox1 {
        grid-area: a1;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 100vw;
        padding-left: 2%;
    }

    .textbox1 p {
        padding: 2%;
        margin: 2%;
        vertical-align: center;
    }

    .imagebox1 {
        grid-area: b1;
        width: 100vw;
        color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .imagebox1 img{
        width: 100vw;
    }

    .container2 {
        margin-top: 150vh;
        z-index: 0;
        display: grid;
        width: 100vw;
        position: absolute;
        grid-template-columns: 100%;
        grid-template-rows: 20% 40% 40%;
        grid-template-areas: "title2"
                                                "a2"
                                                "b2";
        font-family: "OsloSans";
        background-color: black;
        overflow: hidden;
    }

    .title2 {
    grid-area: title2;
    background-color: black;
    padding-top: 1vh;
    margin-bottom: 1vh;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    }

    .textbox2 {
        grid-area: a2;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 100vw;
        padding-left: 2%;
    }

    .textbox2 p {
        padding: 2%;
        margin: 2%;
        vertical-align: center;
    }

    .imagebox2 {
        grid-area: b2;
        width: 100vw;
        color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .imagebox2 img{
        width: 100vw;
    }

    .container3 {
        margin-top: 300vh;
        z-index: 0;
        display: grid;
        width: 100vw;
        height: min-content;
        position: absolute;
        grid-template-columns:40% 60%;
        grid-template-rows: 20% 80%;
        grid-template-areas: "title3"
                                                "pod";
        font-family: "OsloSans";
        background-color: black;
        overflow: hidden;
        height: 30vh;
    }

    .container4 {
        margin-top: 450vh;
        z-index: 0;
        display: grid;
        width: 100vw;
        position: absolute;
        grid-template-columns: 100%;
        grid-template-rows: 20% 40% 40;
        grid-template-areas: "title4"
                                                "a4"
                                                "b4";
        font-family: "OsloSans";
        background-color: black;
        overflow: hidden;
    }

    .title4 {
    grid-area: title4;
    background-color: black;
    padding-top: 1vh;
    margin-bottom: 1vh;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    }

    .textbox4 {
        grid-area: a4;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 100vw;
        padding-left: 2%;
    }

    .textbox4 p {
        padding: 2%;
        margin: 2%;
        vertical-align: center;
    }

    .imagebox4 {
        grid-area: b1;
        width: 100vw;
        color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .imagebox4 img{
        width: 100vw;
    }
}

.title3 {
    grid-area: title3;
    padding-top: 1vh;
    margin-bottom: 1vh;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

.podcast3 {
    align-self: center;
    grid-area: pod;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
}

.source {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 2%;
    float: left;
}

img {
    border-radius: 2%;
}
